.User-View-Status {
  font-family: "R2";
  font-size: 13px;
}

.User-View-Name {
  font-family: "R2";
  font-size: 14px;
}

.User-View-Des {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  height: 120px;
  overflow-y: auto;
  padding: 5px;
}

.User-View-Des p {
  font-family: "R4";
  font-size: 13px;
}

.User-Data-Box h6 {
  font-family: "R2";
  font-size: 13px;
}

.User-Data-Box p {
  font-family: "R3";
  font-size: 13px;
  color: grey;
}
